@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono&family=Kalnia&display=swap');

:root {
    --foreground: rgb(240, 240, 240);
}

@keyframes biggerlink {
    0% { font-size: 100%; }
    100% { font-size: 120%; }
}

@keyframes smallerlink {
    0% { font-size: 120%; }
    100% { font-size: 100%; }
}

@keyframes bold {
    0% { font-weight: 400; }
    100% { font-weight: 600; }
}

@keyframes nobold {
    0% { font-weight: 600; }
    100% { font-weight: 400; }
}

body {
    background-color: black;
    color: var(--foreground);
    margin:0;
    padding: 0;
    font-family: 'Chivo Mono', monospace;
}   

::-webkit-scrollbar-thumb {
    background: rgba(100,100,100,.4);
}

::-webkit-scrollbar, ::-webkit-scrollbar-corner {
    background-color: black;
}

:visited, :link { color: var(--foreground); text-decoration: none; }

#topbar {
    background: linear-gradient(rgba(0,0,0,.4), transparent);
    height: 60px;
    width: 100%;
    overflow: hidden;
    position: fixed;
    top:0;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

nav {
    margin-right: 100px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    column-gap: 20px;
}

#info {
    background-color: #282828;
    padding-top: 80px;
    padding-bottom: 60px;
    padding-left: 100px;
    display: flex;
    flex-direction: row;
}

#leftinfo>* {
    margin: 0;
    margin-right: 150px;
    padding: 4px;
}

#rightinfo {
    font-size: 20px;
    margin-right: 100px;
    word-wrap: normal;
}

#projects, #experience {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 100px;
    padding-right: 100px;
}

#path {
    font-size: 20px;
    margin-bottom: 30px;
}

#projectscroller {
    overflow: scroll;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#projframe {
    height: 270px;
    width: 220px;
    border: 1px var(--foreground) solid;
    padding: 15px;
}

#projframe>b {
    font-size: 25px;
    font-family: 'Kalnia', serif;
}

#projframe>p {
    word-wrap: break-word;
}

#ambielink {
    font-weight: bold;
    color: #ED9515;
}

@media screen and ( max-width: 750px ) {
    #info {
        flex-direction: column;
    } 
    #projects, #experience, #info {
        padding-left: 30px;
        padding-right: 30px;
    }
    img {
        display: none;
    }
    #topbar {
        justify-content: center;
    }
}

#socials {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}